header.top-header
    display: flex
    justify-content: center
    height: 68px
    background: #1a1a1a

    nav
        height: 100%
        width: 60vw

        .logo
            width: 119px
            height: 100%
            background: #b92d2d
            margin: 0 20px

        ul
            display: flex
            justify-content: center
            height: 100%

            li
                display: flex
                align-items: center
                word-break: keep-all
                margin: 0 10px
                color: grey

                &.active
                    color: #fff