.headline-container
    width: 1080px

    .headline-digest
        width: 1080px
        height: 400px
        border: 1px solid #ebebeb
        margin-top: 24px
        display: flex

        .slider-wrapper
            .item
                a
                    width: 100%
                    height: 100%

        .digest-detail
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 28px 30px 27px

            h2
                font-size: 42px
                height: 153px

            p
                margin-top: 13px
                height: 117px

            .category
                font-size: 13px

                .name
                    padding-right: 10px
                    border-right: 1px solid #e5e5e5
                    margin-right: 10px

                .publisher
                    color: #b2b2b2

    .headline-section
        display: flex
        justify-content: space-between
        align-items: flex-start

        .popularity-container
            margin-top: 100px

        @import ./newsSection/style
        @import ../popularity/style

@media screen and (max-width: 1024px)
    .headline-container
        width: 100%

        .headline-digest
            border: 0
            margin-top: 24px
            display: flex
            width: auto
            height: auto
            justify-content: center

            .slider-wrapper
                .item
                    a
                        position: relative

                        .content
                            display: flex
                            justify-content: center
                            width: 100%
                            color: #fff
                            position: absolute
                            bottom: 40px

                            span
                                display: none

            .arrow-wrapper
                display: none

            .digest-detail
                display: none

        .headline-section
            display: block
